<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355759739218-d7q468fb6qqh1k1tbfor94em4p53a0r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355759739218-d7q468fb6qqh1k1tbfor94em4p53a0r3</string>
	<key>API_KEY</key>
	<string>AIzaSyBIqYLMgwKnDyZTvEfyhyXf4OBLmym-wAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>355759739218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adarshpachori.busybody</string>
	<key>PROJECT_ID</key>
	<string>busybody-9fcb4</string>
	<key>STORAGE_BUCKET</key>
	<string>busybody-9fcb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355759739218:ios:6cf34180b296404b57ea8b</string>
</dict>
</plist>